.movieBox {
  width: 250px;
  margin: 10px auto;
  padding: 15px;
  border-radius: 8px; /* Gjør hjørnene avrundet */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Legg til en skygge */
  text-align: center; /* Sentrer teksten */
}

.moviePoster {
  width: 100%; /* Gjør bildet responsivt */
  border-radius: 4px;
}

.movieTitle {
  font-size: 1.5em;
  margin-top: 10px;
}

.heart {
  cursor: pointer;
  font-size: 24px; /* Juster størrelsen her */
}

.heart.fave {
  color: red;
}

.heart.notFave {
  color: grey;
}

.divdetails {
  margin-bottom: 200px;
}

/* Responsive adjustments for tablets */
@media (min-width: 600px) {
  .movieBox {
    width: 400px;
  }

  .movieTitle {
    font-size: 1.8em;
  }
}

/* Responsive adjustments for larger screens */
@media (min-width: 1024px) {
  .movieBox {
    width: 350px;
  }

  .movieTitle {
    font-size: 2em;
  }
}

/* Responsive adjustments for smaller screens (phones) */
@media (max-width: 599px) {
  .movieBox {
    width: 100%; /* Take full width on small screens */
  }

  .movieTitle {
    font-size: 1.2em;
  }
} 
