.root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7rem;
  width: 30%;
  margin: 0 auto;
  padding-top: 2rem;
}

.searchContainer {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border: 0.1rem solid var(--color-blue-dark);
  padding: 1rem;
  outline: none;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  padding-right: 0.5rem;
  flex-grow: 1;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  padding-left: 1rem;
}

.search {
  flex-grow: 1;
  border: none;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  padding-left: 0.5rem;

  &:focus {
    outline: none;
  }
}

/* Media Query for smaller screens */
@media screen {
  .controls {
    width: 70%;
    gap: 3rem; /* Adjust gap for smaller screens */
    padding-top: 5rem; /* Optionally adjust padding */
  }
}


@media (max-width: 1400px) {
  .controls {
    width: 60%;
    gap: 3rem; 
    padding-top: 5rem;
  }
} 