
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--color-blue);
  color: white;
  position: sticky;
}

.love {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  font-size: 1rem;
  margin: 1rem 0 1rem;
}

.tmdbLogo {
  width: 8rem;
  height: auto;
}

@media (max-width: 1500px) {
  .love {
    flex: 1; /* Fills remaining space between header and footer */
  }
  
  .footer {
    position: fixed; /* Keep footer at the bottom of the viewport */
    bottom: 0;
    width: 100%;
    z-index: 10; /* Ensure it's above other elements */
    border-top: 500px;
  }
  
}