.movieCarousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.carouselButton {
  background: none;
  margin: 0 20px;
  border: none;
  font-size: 4em;
  cursor: pointer;
}

.movieList {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 4 kolonner på større skjermer */
  grid-gap: 20px; /* Avstand mellom boksene */
  padding: 20px;
}

@media (max-width: 1500px) {
  .movieList {
    padding-bottom: 200px;
  }

  .movieCarousel {
    padding-bottom: 200px;
  }
}

@media (max-width: 1200px) {
  .movieList {
    grid-template-columns: 1fr;
  }
}

