.root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
}

.searchContainer {
  display: flex;
  align-items: center;
  width: 30%;
  box-sizing: border-box;
  border: 0.1rem solid var(--color-blue-dark);
  padding: 1rem;
  outline: none;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  padding-right: 0.5rem;
  flex-grow: 1;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  padding-left: 1rem;
}

.search {
  flex-grow: 1;
  border: none;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  padding-left: 0.5rem;

  &:focus {
    outline: none;
  }
}

.setList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
}


@media (max-width: 1500px) {
  .controls {
    padding-top: 5rem;
  }
}
